.vscode/settings.json
.vs/CMakeWorkspaceSettings.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/TrinityCore-SelfStudy/FileContentIndex/a1fddf62-dc41-4bb4-ad0b-cb5c4c32f47b.vsidx
.vs/TrinityCore-SelfStudy/v17/.wsuo
.vs/TrinityCore-SelfStudy/v17/DocumentLayout.json
.vs/TrinityCore-SelfStudy/v17/Preview/Browse.VC.db
